{% extends "base.html" %}

{% block title %}Registrar Penalidades Eliminatórias{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Registrar Penalidades para {{ campeonato.nome }}</h1>

    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="jogo_id" class="form-label">Selecione um Jogo:</label>
            <select id="jogo_id" name="jogo_id" class="form-select" required>
                <option value="">Escolha um jogo...</option>
                {% for jogo in jogos %}
                    <option value="{{ jogo.id }}">{{ jogo.time_casa.equipe }} vs {{ jogo.time_fora.equipe }} - Fase {{ jogo.rodada.fase }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="tipo_cartao" class="form-label">Tipo de Penalidade:</label>
            <select id="tipo_cartao" name="tipo_cartao" class="form-select" required>
                <option value="amarelo">Cartão Amarelo</option>
                <option value="vermelho">Cartão Vermelho</option>
                <option value="expulsao">Expulsão</option>
                <option value="outro">Outro</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="tipo_penalidade" class="form-label">Penalidade Por:</label>
            <select id="tipo_penalidade" name="tipo_penalidade" class="form-select" required>
                <option value="participante">Por Participante</option>
                <option value="equipe">Por Equipe</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="participante_id" class="form-label">Selecione um Participante:</label>
            <select id="participante_id" name="participante_id" class="form-select">
                <option value="">Escolha um participante...</option>
                {% for participante in participantes %}
                    <option value="{{ participante.id }}">{{ participante.nome }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Novo campo para o motivo da penalidade -->
        <div class="mb-3">
            <label for="motivo" class="form-label">Motivo da Penalidade:</label>
            <textarea id="motivo" name="motivo" class="form-control" rows="3" required></textarea>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Salvar Penalidade</button>
        </div>
    </form>
</div>
{% endblock %}
