{% extends "base.html" %}

{% block title %}Tabela Gerada{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4" style="border-radius: 10px; background-color: #f8f9fa; border: 1px solid #191970;">
        <div class="text-center">
            <h1 class="display-4" style="color: #160840;">Tabela de Jogos</h1>
            <p class="lead text-muted">{{ mensagem }}</p>
            <hr class="my-4">
            <p class="fw-bold" style="color: #160840;">Campeonato: {{ campeonato.nome }}</p>
            <p><strong>Data de início:</strong> {{ campeonato.data_inicio|date:"d/m/Y" }}</p>
            <p><strong>Data de fim:</strong> {{ campeonato.data_fim|date:"d/m/Y" }}</p>
        </div>

        <!-- Tabela de jogos -->
        <div class="mt-4">
            {% for rodada in campeonato.rodadas.all %}
                <h3 class="mt-4" style="color: #160840;">Rodada {{ rodada.numero }} - {{ rodada.data|date:"d/m/Y" }}</h3>
                <ul class="list-group mb-3">
                    {% for jogo in rodada.jogos.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="border-left: 5px solid #191970;">
                            <div>
                                <span class="fw-bold" style="color: #160840;">{{ jogo.time_casa.equipe }}</span> vs 
                                <span class="fw-bold" style="color: #191970;">{{ jogo.time_fora.equipe }}</span>  
                                <small class="text-muted">({{ jogo.data_horario|date:"d/m/Y H:i" }})</small>
                            </div>
                            <div>
                                {% if jogo.resultado_jogo %}
                                    <span class="badge bg-success rounded-pill">Resultado: {{ jogo.resultado_jogo.gols_time_casa }} - {{ jogo.resultado_jogo.gols_time_fora }}</span>
                                {% else %}
                                    <span class="badge bg-secondary rounded-pill">Resultado: Não disponível</span>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

        <!-- Botão para visualizar tabela completa -->
        <div class="mt-4 text-center">
            <a href="{% url 'visualizar_tabela' campeonato.id %}" class="btn btn-success" style="background-color: #28a745; border-color: #28a745;">Visualizar Tabela Completa</a>
        </div>
    </div>
</div>
{% endblock %}
